.DS_Store

node_modules

pruebas_e2e/kraken/reports/*
pruebas_e2e/kraken-screenshots/*
pruebas_e2e/test-cypress/cypress/screenshots/*

pruebas_vrt/ghost*/kraken/reports/*
pruebas_vrt/backstop_data/bitmaps_reference/*
pruebas_vrt/backstop_data/bitmaps_test/*
pruebas_vrt/resemble/results/*

pruebas_exploratorias/RIPuppetCoursera/.png\n*
pruebas_exploratorias/RIPuppetCoursera/screenshots*/
pruebas_exploratorias/RIPuppetCoursera/temp*/
pruebas_exploratorias/RIPuppetCoursera/*graph.json
pruebas_exploratorias/RIPuppetCoursera/*graph2.json
pruebas_exploratorias/RIPuppetCoursera/*graph3.json
pruebas_exploratorias/RIPuppetCoursera/firebaseConfig.js
pruebas_exploratorias/RIPuppetCoursera/results/